
h1 {
    color: red;
}

.bg-dark {
    background-color:rgb(58, 55, 55);
}

.white-text {
    color: rgb(180, 175, 175);
    font-size: 1.5em
}

.margin-yellow {
    margin: 20px;
    background-color: yellow;
}

img {
    width: 300px;
    padding: 20px;
    background-color: aqua;
    border: 2px solid white;
}

.box{
    background-color: darkslategray;
    display: inline-block;
    width:400px;
}

.content{
    background-color: cornflowerblue;
    margin:0px;
}

.box2 {
    vertical-align: top;
    background-color: pink;
    width: 400px;
    height: 400px;
    display: inline-block;
}